* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1f1f1f;
  /* position: relative; */
  overflow-x: hidden;
  z-index: -2;
}

.main_page {
  top: 75px;
  height: calc(100vh - 75px);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: relative;
}
/* .hamburger {
  z-index: 8;
  font-size: 50px;
  margin-right: 30px;
} */

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner.is-active,
.hamburger--collapse.is-active .hamburger-inner::before,
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner.is-active,
.hamburger--collapse.is-active.hamburger-inner::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}
.main_page.hamburger_open,
header.hamburger_open {
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateX(-70%);
  transform: translateX(-70%);
}

header {
  transition: 0.25s linear;
  z-index: 2000;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 75px;
  background-color: #161616;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
header.open {
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
  color: #f39c12;
  margin-left: 30px;
}

.nav__list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  height: 70%;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
}

.nav {
  /* top: 75px; */
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: -1;
  height: 100vh;
  position: absolute;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  right: 0;

  width: 70vw;
  background-color: #1f1f1f;
}
.nav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
.fas.fa-home {
  padding-right: 10px;
  color: #f39c12;
  font-size: 30px;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  align-items: left;
  background-image: url("../assets/background_image2.jpg");
  background-position-x: -50px;
  /* background-attachment: fixed; */
  /* background-color: green; */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: left; */
  background-origin: content-box;
  width: 100%;
  height: calc(100vh - 75px);
}
.title_and_description {
  height: 68vh;
  width: 80vw;
}
.container__title {
  font-size: 40px;
  margin-left: 25px;
  margin-bottom: 10px;
  position: relative;
  color: #f39c12;
}
.container__description {
  font-size: 22px;
  margin-left: 25px;
  position: relative;
  color: #222222;
}
.container__call {
  font-size: 22px;
  color: #161616;
  margin-top: 25px;
  margin-left: 25px;
}
span {
  color: #161616;
}

.container__second {
  width: 100%;
  background-color: blue;
  height: 100vh;
}
.nav__list.open {
  display: -webkit-box;
  display: flex;
}
ul {
  width: 80%;
}
ul li {
  display: -webkit-box;
  display: flex;
  font-size: 16px;
  -webkit-box-pack: left;
  justify-content: left;
  list-style-type: none;
  width: 100%;
  position: relative;
  color: #979797;
}
ul li::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.number {
  color: #f39c12;
}
.container__offer {
  font-size: 20px;
  border: 1px solid white;
  padding: 15px 20px;
  background-color: #f39c12;
  margin-top: 30px;
  margin-left: 25px;
}
.fas.fa-arrow-circle-down {
  margin-left: 10px;
}
@media (min-width: 600) {
  nav {
    display: none;
  }
}
